<ion-header class="ion-no-border">
</ion-header>

<ion-content>
  <div id="header">
    <link href='https://fonts.googleapis.com/css?family=Jost' rel='stylesheet'>
    <h1>Clínica Lummus</h1>
    <ion-icon name="pulse-outline"></ion-icon>
    <br/>
    <p>Gerente</p>
  </div>

  <form id="#form">
    <app-input type="text" placeholder="Usuário"></app-input>
    <app-input type="password" placeholder="Password"></app-input>
    <ion-button expand="block" shape="round" routerLink="/signup">Login</ion-button>
  </form>

</ion-content>
