<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-button size="small" fill="clear" slot="start">
      <ion-back-button></ion-back-button>
  </ion-button>
  <ion-button size="small" fill="clear" slot="end">
    <ion-button size="small" fill="clear"  routerLink="/login">Log in</ion-button>
</ion-button>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div id="header">
    <link href='https://fonts.googleapis.com/css?family=Jost' rel='stylesheet'>
    <h1>Produtos Lummus</h1>
    <br/>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col size="3" class="cabeçalho">
        Nome
      </ion-col>
      <ion-col size="2" class="cabeçalho">
        Estoque
      </ion-col>
      <ion-col size="2" class="cabeçalho">
        Data Val.
      </ion-col>
      <ion-col size="2" class="cabeçalho">
        Quant.
      </ion-col>
      <ion-col size="2" class="cabeçalho">
        Alocação
      </ion-col>
    </ion-row>

    <ion-row class="produto">
      <ion-col size="3">
        <div>Ácido Aceticilico</div>
        <br>
      </ion-col>
      <ion-col size="2">
        <div>5 unid.</div>
      </ion-col>
      <ion-col size="2">
        <div>30/03/2023</div>
      </ion-col>
      <ion-col size="2">
        <div>5L</div>
      </ion-col>
      <ion-col size="2">
        <div>2</div>
      </ion-col>
    </ion-row>

    <ion-row class="produto">
      <ion-col size="3">
        <div>hidróxido de sódio</div>
        <br>
      </ion-col>
      <ion-col size="2">
        <div>2 unid.</div>
      </ion-col>
      <ion-col size="2">
        <div>13/02/2023</div>
      </ion-col>
      <ion-col size="2">
        <div>2L</div>
      </ion-col>
      <ion-col size="2">
        <div>1</div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="3">
        <div></div>
        <br>
      </ion-col>
      <ion-col size="2">
        <div></div>
      </ion-col>
      <ion-col size="2">
        <div></div>
      </ion-col>
      <ion-col size="2">
        <div></div>
      </ion-col>
      <ion-col size="2">
        <div></div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="3">
        <div></div>
        <br>
      </ion-col>
      <ion-col size="2">
        <div></div>
      </ion-col>
      <ion-col size="2">
        <div></div>
      </ion-col>
      <ion-col size="2">
        <div></div>
      </ion-col>
      <ion-col size="2">
        <div></div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="3">
        <div></div>
        <br>
      </ion-col>
      <ion-col size="2">
        <div></div>
      </ion-col>
      <ion-col size="2">
        <div></div>
      </ion-col>
      <ion-col size="2">
        <div></div>
      </ion-col>
      <ion-col size="2">
        <div></div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="3">
        <div></div>
        <br>
      </ion-col>
      <ion-col size="2">
        <div></div>
      </ion-col>
      <ion-col size="2">
        <div></div>
      </ion-col>
      <ion-col size="2">
        <div></div>
      </ion-col>
      <ion-col size="2">
        <div></div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<script type="text/javascript" th:inline="javascript">

</script>
